{% extends 'news_room/base.html' %}
{% block title %}{{ newsletter.title }}{% endblock %}

{% block content %}
<div class="body-container">
  <div class="article-card">
    <h3>{{ newsletter.title }}</h3>
    <p><strong>By:</strong> {{ newsletter.author.username }}</p>
    <p>
      <strong>Publisher:</strong> {{ newsletter.publisher.name }}
      | <strong>Published at:</strong> {{ newsletter.created_at|date:"Y-m-d H:i" }}
    </p>
    <div>
      {{ newsletter.content|linebreaks }}
    </div>
  </div>
</div>
{% endblock %}
